<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6502.0" authCookieName=".SFAUTH-TestCMS" rolesCookieName=".SFROLES-TestCMS" validationKey="59E532044D70FE1B4CDF9B0C10366B4CEFCC8BCD3988176DFF0CD1181E3828A16A30779B0489EDD14325050FF31EA4E578E6A9FA97C927221735399EBD0AAF42" decryptionKey="CC3424337D0FB1C22653155292CFB6712ACA001152C82155093A931F6C189B39" loggingCookieName=".SFLOG-TestCMS">
	<securityTokenIssuers>
		<add key="51DDE98555AD13DE1831706E4EF0B90DFC25F8117C2F7FF44D27C23747BCDB92" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="51DDE98555AD13DE1831706E4EF0B90DFC25F8117C2F7FF44D27C23747BCDB92" realm="http://localhost" />
	</relyingParties>
	<applicationRoles>
		<role id="2e68d13a-c183-4052-8c68-0d3092e75c88" name="Everyone" config:flags="1" />
		<role id="7031b6c5-8003-401a-95a8-63a885cb094c" name="Anonymous" config:flags="1" />
		<role id="9851778c-f9c6-42cc-8dde-8613ade36063" name="Authenticated" config:flags="1" />
		<role id="9adc80a2-004c-4093-8edc-e04605f60da9" name="Owner" config:flags="1" />
		<role id="4c87ed0c-035e-45a2-80f6-13a161a0dfc4" name="Administrators" config:flags="1" />
		<role id="1aceccd7-fe76-478d-a95c-7d79f96a65bd" name="BackendUsers" config:flags="1" />
		<role id="6f38e628-c183-4e66-90b5-6eeda488511c" name="Authors" config:flags="1" />
		<role id="e4dc5390-a37d-4493-b065-4286d71b2fd6" name="Editors" config:flags="1" />
		<role id="fa97294c-7cae-48e6-8fba-bdfc1485cee3" name="Designers" config:flags="1" />
		<role id="9784f656-a3ad-41ac-b87a-cecc7cdf0e23" name="Users" config:flags="1" />
	</applicationRoles>
</securityConfig>